apiVersion: cloudcredential.openshift.io/v1
kind: CredentialsRequest
metadata:
  name: $AWS_CREDENTIALS_SECRET_NAME
  namespace: openshift-monitoring
spec:
  secretRef:
    name: $AWS_CREDENTIALS_SECRET_NAME
    namespace: openshift-monitoring
  providerSpec:
    apiVersion: cloudcredential.openshift.io/v1beta1
    kind: AWSProviderSpec
    statementEntries:
    - effect: Allow
      action:
      - cloudwatch:ListMetrics
      - cloudwatch:GetMetricData
      resource: "*"
