apiVersion: v1
kind: DeploymentConfig
metadata:
  name: ebs-iops-reporter
  namespace: openshift-monitoring
  labels:
    name: ebs-iops-reporter
spec:
  replicas: 1
  selector:
    name: ebs-iops-reporter
  template:
    metadata:
      name: ebs-iops-reporter
      labels:
        name: ebs-iops-reporter
    spec:
      containers:
      - name: "main"
        command: ["/usr/bin/python", "/monitor/main.py"]
        workingDir: /monitor
        ports:
        - containerPort: 8080
          protocol: "TCP"
        image: 'quay.io/jupierce/openshift-python-monitoring:$IMAGE_VERSION'
        env:
        - name: AWS_SHARED_CREDENTIALS_FILE
          value: /secrets/aws/credentials
        - name: AWS_CONFIG_FILE
          value: /secrets/aws/config
        - name: PYTHONPATH
          value: /openshift-python/packages:/support/packages
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 2
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 420
          periodSeconds: 360
          timeoutSeconds: 240
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 3
          timeoutSeconds: 240
        volumeMounts:
        - name: monitor-volume
          mountPath: /monitor
          readOnly: true
        - name: credentials-volume
          mountPath: /secrets/aws
          readOnly: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      serviceAccountName: sre-ebs-iops-reporter
      volumes:
      - name: monitor-volume
        configMap:
          name: ebs-iops-reporter-code
      - name: credentials-volume
        secret:
          secretName: ebs-iops-reporter-credentials-volume
  triggers:
  - type: ConfigChange
  strategy:
    type: "Recreate"
  paused: false
