apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: $PREFIXED_NAME
  namespace: openshift-monitoring
  labels:
    k8s-app: $PREFIXED_NAME
    name: $PREFIXED_NAME
spec:
  endpoints:
  - honorLabels: true
    interval: 2m
    port: http-main
    scheme: http
    scrapeTimeout: 2m
    targetPort: 0
  jobLabel: $PREFIXED_NAME
  namespaceSelector: {}
  selector:
    matchLabels:
      name: $PREFIXED_NAME
